.chart {
  position: relative; 
  height:70vh; 
  width:40vw;
}

.revenue {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 600;
  padding-left: 100px;
}